In [98]:
import pandas as pd
import glob
import os
import re

In [99]:
xlsxfiles = [os.path.basename(x) for x in glob.glob('data\\*Previdenciarios.xlsx')]
line_re =re.compile(r'(\d{4})')
cols =['CID10','JANEIRO', 'FEVEREIRO', 'MARÃ‡O', 'ABRIL',
       'MAIO', 'JUNHO', 'JULHO', 'AGOSTO', 'SETEMBRO', 'OUTUBRO', 'NOVEMBRO',
       'DEZEMBRO']
dfresult = pd.DataFrame(columns=['CID10', 'MES', 'VALOR', 'ANO'])

In [100]:
for cNome in xlsxfiles:
    comp =line_re.search(cNome)
    df = pd.read_excel("data\\"+cNome)
    df = df[cols].set_index('CID10').stack().reset_index()
    df = df.rename(columns={'level_1': 'MES', 0: 'VALOR'})
    comp =line_re.search(cNome)
    df['ANO'] =comp.group(0)
    dfresult = dfresult.append(df)

In [104]:
dfresult['CID10']

0       A00
1       A00
2       A00
3       A00
4       A00
       ...
5155    NaN
5156    NaN
5157    NaN
5158    NaN
5159    NaN
Name: CID10, Length: 203532, dtype: object